<div class="block-header clearfix" style="padding-top: 0px;">
    <div class="row ">
        <h4 class=" breadcrumb-item active">Alarm Tanımlama</h4>
        <div class="col-lg-6 col-md-6 col-sm-12">
            
            <ul class="breadcrumb p-l-0 p-b-0 ">
                
               
            </ul>
        </div>
    </div>
</div>

  
<div class="jumbotron jumbtron-fluid">

<div class="container-fluid">






    <form [formGroup]="inputForm" (ngSubmit)="saveAlarm()" novalidate>
        <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Notification Name:</mat-label>
                <input matInput placeholder="Notification Name" formControlName="notName" maxlength="50" required>
                </mat-form-field>

        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Notification Description:</mat-label>
                <input matInput placeholder="Notification Description" formControlName="notDesc" maxlength="500" required>
                </mat-form-field>

        </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Customer :</mat-label>
                            <mat-select formControlName="customerId" required #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search formControlName="customerName" placeholderLabel="Customer bul..."  noEntriesFoundLabel="Kayıt bulunamadı"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let row of filteredCustomer | async" [value]="row.id">
                                  {{row.cusName}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
        
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Tag:</mat-label>
                        <mat-select formControlName="customerTagId" required #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search formControlName="customerTagName" placeholderLabel="Tag bul..."  noEntriesFoundLabel="Kayıt bulunamadı"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let row of filteredTag | async" [value]="row.id">
                              {{row.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
        
                </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Notification Check:</mat-label>
                            <mat-select formControlName="notCheckId" required #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search formControlName="notCheckValue" placeholderLabel="Notification bul..."  noEntriesFoundLabel="Kayıt bulunamadı"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let row of filteredNotCheck | async" [value]="row.id">
                                  {{row.value}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
            
                    </div>

                    <div class="form-group item">
    
    
                        <mat-label >Active: <mat-checkbox class="example-margin" formControlName="active" ></mat-checkbox>
                             
                            
                            </mat-label>
        
                    </div>
                    <br>
                    <div class="form-group item">
    
    
                        <mat-label >Deleted: <mat-checkbox class="example-margin" formControlName="deleted" ></mat-checkbox>
                             
                            </mat-label>
        
                    </div>


                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Threshold Value:</mat-label>
                            <input matInput placeholder="Threshold Value" formControlName="thresholdValue" maxlength="50"  required>
                            </mat-form-field>
            
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Period:</mat-label>
                            
                                    <mat-select formControlName="period" required #singleSelect> 
                                        
                                        <mat-option [value]=1>1 Dakika </mat-option>
                                        <mat-option [value]=5>5 Dakika</mat-option>
                                        <mat-option [value]=10>10 Dakika</mat-option>
                                        <mat-option [value]=15>15 Dakika</mat-option>
                                        <mat-option [value]=30>30 Dakika</mat-option>
                                    </mat-select>
                            </mat-form-field>
            
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Notification Level:</mat-label>
                            <mat-select formControlName="notLevelId" required #singleSelect>
                                <mat-option>
                                  <ngx-mat-select-search formControlName="notLevelValue" placeholderLabel="Notification Level bul..."  noEntriesFoundLabel="Kayıt bulunamadı"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let row of filteredNotLevel | async" [value]="row.id">
                                  {{row.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            
            
                    </div>


                </div>

               

                <div class="btn-toolbar">
                    
                    <button  id="button1" type="submit" class="btn btn-dark" [disabled]="!inputForm.valid"><i class="fa fa-database"></i>    Kaydet</button>
                    <button   type="reset" class="btn btn-dark" (click)="reset()"><i class="fa fa-refresh"></i>    Yeni</button>
                    <button  class="btn btn-dark" (click)="goToList()"><i class="fa fa-table"></i>    View Alarms</button>
                    
                    
                   
                  </div>
                  

                  <table class="table table-borderless" matSort (matSortChange)="sortData($event)">
                    <thead class="thead-light">
                        <th mat-sort-header="id">Id</th>
                        <th mat-sort-header="title">Title</th>
                        <th mat-sort-header="name">Name</th>
                        <th>WhatsApp Phone</th>
                        <th>E-Mail</th>
                        <th>WhatsApp Active</th>
                        <th>E-Mail Active</th>
                        <th>
                            <a class="btn btn-sm btn-success text-white isDisabled" id="button2" (click) = "openDialog()" ><i class="fa fa-plus">  Add Alarm Notification Message</i></a>
                        </th>
                    </thead>
                    <tbody>

                         <!-- <tr *ngIf="alarmNotifsInfo.length==0" >
                            <td class="font-italic text-center" colspan="9">
                              No Alarm Notification Message for this Alarm Notification.
                            </td>
                          </tr> -->

                        <tr *ngFor="let notif of alarmNotifsInfo; let i = index">
    
    
                            <td>{{notif.id}} </td>
                            <td>{{notif.title}}</td>
                            <td>{{notif.name}}</td>
                            <td>{{notif.wpPhone}}</td>
                            <td>{{notif.email}}</td>
                            <td>{{notif.wpActive}}</td>
                            <td>{{notif.mailActive}}</td>
                            <td>
                                <a class="btn btn-sm btn-info text-white" 
                                (click)="updateNotif(notif.id)"  ><i class="fa fa-pencil"></i></a>
                                
                            </td>
   
                        </tr>                         
                    </tbody>

                  </table>

            </div>
    </form>

    </div>
    </div>