.item{
    display: inline;
    white-space: nowrap;
    color:blue;
}

.jumbotron{
    padding-top: 0px;
    background: rgb(78, 83, 88);
    width: 100%;
    

    
}

input, select, textarea{
    color: #ffffff;
}
textarea:focus, select:focus, input:focus {
    color: #ffffff;
}

option{
    color: rgb(0, 0, 0);
}

td {
    color: white;
}

#index1{
    display:none;
}

.example-margin {
    margin: 0 10px;
  }

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
    display: inline-block;
  }


  .btn.btn-dark{
    margin: 9px;
    border-style: 3px solid;
    border-color: #3F51B5;
  }
  
  .attributeListContainer{
    border-style: solid;
    border-color: rgb(255, 255, 255);
  }

//   .attributeListContainer{
//     border-style: solid;
//     border-color: rgb(99, 99, 102);
//   }
  
  // .mat-table{}
  
  
  
  .mat-18{
    color: black;
  }
  
  .mat-17{
    color: black;
  }
  
  .mt-3{
    background: #3F51B5 ;
    border-radius: 4px;
    color: white;
  
  
  }
  .mt-1{
    color : white;
    background-color: #3F51B5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  
  }
  
  .mt-1:hover {
    background:  rgb(42, 60, 157) ;
  }
  



